{% extends "base.html" %}

{% block content %}
<h1>{{community.name}}</h1>

<div id="community_description">
  {{ community.description }}
</div>

<h2>Who We are</h2>

<h3>Community Coordinators</h3>
<p> 
<img class="coordinator_photo" src="/images/{{ community.photo }}" /><br/>
<br/>
{{ community.coordinator_names }} <br/>
</p>

<p>Contact Us:</p>
<ul>
  <li><strong>email</strong>: <a href="mailto:nevadacountymakes.com">{{community.support_email}}</a></li>
  <li><strong>phone</strong>: ({{community.support_phone|slice:":3"}}) {{community.support_phone|slice:"3:6"}}-{{community.support_phone|slice:"6:"}}</li>
  <li><strong>mail</strong>: {{community.address}}</li>
  <li><strong>forum</strong>: <a href="{{community.forum_link}}">{{community.forum_link}}</a></li>
</ul>

<h3>Makers</h3>
<div id="maker_gallery">
  {% for maker in makers %}
  <div>
	<div><a href="/maker_store/{{maker.slug}}">{{ maker.store_name }}</a></div>
	<div>{{maker.store_description}}</div>
  </div>
  {% endfor %}
{% endblock %}

