{% extends "base.html" %}

{% block content %}
    <div id="advertisement_panel">
         <form id="advertisement_form" enctype="multipart/form-data" action="{{ uri }}" method="POST">
		   <div id="image_upload_panel">
			 {% if advertisement %}
			   <img src="/images/{{advertisement.image}}"/></br>
			 {% endif %}
			 {{ upload_form }}
		   </div>
		   <table>
		   {{ form.as_table }}
		   <tr><th><label for="id_current_impressions">Impressions Remaining:</label></th><td><lavel name="impressions_remaining" />{{impressions}}</label></td></tr>

		   <tr><th><label for="id_impressions">Add Impressions:</label></th><td><input type="text" name="impressions" value="0" id="id_impressions" /></td></tr>
		   </table>
		   
		   <input type="hidden" name="_id" value="{{ id }}">
           <div><input id="submit" class="button"  type="submit" {% if id %} value="Update Advertisement" {% else %} value="Create Advertisement" {% endif %}/></div>
         </form>
	</div>
{% endblock %}
