<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
      <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
      <title>{% block title %} {{ title }} {% endblock %}</title>
      <script type="text/javascript" src="/static/json2.js"></script>	
      <script type="text/javascript" src="/static/async_utils.js"></script>
      <script type="text/javascript">
		{% block search_functions %}
		function doSearch(form){
		  $(form).submit()
		}
		{% endblock %}
		{% block functions  %}
		  function tangram_init(){ 
		  }
		{% endblock %}
      </script>
	  <style type="text/css">
		{% block style %}
		{% endblock %}
	  </style>
	  <script type="text/javascript">

		  var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', 'UA-22111434-1']);
		    _gaq.push(['_trackPageview']);

		    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		    })();

	  </script>
	</head>

    <body onload="tangram_init()">
	  {% block banner %}
		<div id="banner">
		  {% if community.logo %}
		  	  <a href="/"> <img class="community_logo" src="/images/{{ community.logo }}" /></a> {% if admin %}<span id="maker_score" class="score">[Makers: {{community.maker_score}} Products: {{community.product_score}}]</span>{% endif %}
		  {% endif %}
		</div>
      {% endblock %}

    <div id="sidebar">
	  {% block sidebar %}
	  <div id="alert1"></div>
	  {% if admin %}
	  {% block admin %}
	  <div id="admin_menu">
	  <h2>Community Coordination</h2>
	  <ul>
		<li><a href="/community/edit">Settings</a></li>
		<li><a href="/advertisements">Ads</a></li>
		<li><a href="/makers">Makers</a></li>
	  </ul>
	  </div>
	  {% endblock admin %}
	  {% else %}
	  {% block cart_widget %}
    <div id="ShoppingCartWidget">
	  <p>Your Shopping Cart:</p>
	  <p>(<span id="ShoppingCartCount">{% if cartItems %}{{cartItems}} items{% else %}empty{% endif %}</span>) <span id="checkout_button" style={% if cartItems %}"display:inline"{% else %}"display:none"{% endif %}><a href="/checkout">Checkout</a></span></p>
	</div>
	  {% endblock cart_widget %}
	  {% block join %}
	  {% if not user %} <p id="join_link">Local maker? <a href="/join">Join Up</a>!</p> {% endif %}
	  {% endblock %}
	  {% endif %}
	<div id="bio_bar">
	  {% block bio_bar %}
	  {% endblock %}
    </div>
	{% block news %}
	  <h2>News {% if admin %}(<a href="/news_items">edit</a>){% endif %}</h2>
	  {% if news_items %}
	    {% for item in news_items %}
	      <h3><a href="/news_item/{{item.slug}}">{{item.title}}</a></h3>
	      <p>{{item.summary}}</p>
	    {% endfor %}
	  {% else %}
		<p>No news today.</p>
	  {% endif %}
	  {% endblock news %}
	  <!-- Coming Soon -->
	  <!--
	  <h2>Events {% if admin %}(<a href="/events">edit</a>){% endif %}</h2>
	  {% if events %}
	    {% for event in events %}
	      <h3>{{event.title}}</h3>
	      <p>{{event.summary}}</p>
	    {% endfor %}
	  {% else %}
		<p>No events today.</p>
	  {% endif %}
	  <h2>Tips {% if admin %}(<a href="/tips">edit</a>){% endif %}</h2>
	  {% if tips %}
	    {% for tip in tips %}
	      <h3>{{tip.title}}</h3>
	      <p>{{tip.summary}}</p>
	    {% endfor %}
	  {% else %}
		<p>Watch here for helpful tips.</p>
	  {% endif %}
      {% endblock %}
	  -->
    </div>

	<div id="menubar">
	  <div id="menu">
		{% block menu %}
		<ul>
		  <li><a href="/">Home</a></li>
		  {% if maker %}
		  {% ifequal maker.user.key user.key %}
		  <li><a href="/maker_dashboard/{{maker.slug}}">Manage My Store</a></li>
		  <li><a href="/maker/edit/{{maker.slug}}">Account</a></li>
		  {% endifequal %}
		  {% endif %}

		  {% if user %}
		  <li><a href="/logout">Logout</a></li>
		  {% else %}
		  <li><a href="/login">Login</a></li>
		  {% endif %}
		  <li><form id="search_form" name="search" action="/search" method="GET"><label for="id_search">Search:</label> <input type="text" name="search" id="id_seach" value="" onblur="doSearch('search_form')"/></form></li>
		</ul>
		{% endblock %}
	  </div>	  
	</div>

	<div id="container">
    <div id="content">
	  {% if community.use_sandbox %}
	  <p class="errorlist">THIS WEBSITE IS IN TEST ONLY MODE! No actual products are for sale, and all payments are processed though test accounts in the PayPal sandbox.</p>
	  {% endif %}
	  {% block content %}
      {% endblock %}

	<div id="footer">
	  {% block footer %}
	  <p><a href="/privacy">Privacy&nbsp;Policy</a> <a href="/terms">Terms&nbsp;and&nbsp;Conditions</a> <a href="/about">About&nbsp;/&nbsp;Contact&nbsp;Us</a> <a href="{{community.forum_link}}" target="_new">Forum</a></p>
	  <p>Powered&nbsp;by&nbsp;ScriptGadget</p>
	  {% endblock %}
	</div>
    </div>
	</div>
    </body>

</html>
