<html>
    <head>
      <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
      <title>{% block title %} {{ title }} {% endblock %}</title>
      <script type="text/javascript" src="/static/json2.js"></script>	
      <script type="text/javascript" src="/static/async_utils.js"></script>
      <script type="text/javascript">
		{% block functions  %}
		{% endblock %}
      </script>
	</head>

    <body>
    <div id="banner">
	  {% block banner %}
	  <H1> {{ title  }} </H1>
      {% endblock %}
	</div>

    <div id="sidebar">
	  {% block sidebar %}
	  <h2>News</h2>
	  <h3>A News Item</h3>
	  <p>News and Info long enough to wrap and need a "more" link. ...(<a href="">more</a>)</p>
	  <h2>Events</h2>
	  <h3>An Event</h3>
	  <p>A short event.</p>
	  <h3>An Especially Long Event</h3>
	  <p>Qui valde si epulae bis eum, in ille suscipit tincidunt.  ...(<a href="">more</a>)</p>
	  <h2>Tips</h2>
	  <h3>A Tip</h3>
	  <p>A short tip.</p>
	  <h3>An Especially Long Tip</h3>
	  <p>Qui valde si epulae bis eum, in ille suscipit tincidunt.  ...(<a href="">more</a>) </p>

      {% endblock %}
    </div>

	<div id="menubar">
	  <div id="menu">
		{% block menu %}
		<ul>
		  <li><a href="/community/{{community.key}}">Home</a></li>
		  {% if maker %}
		  <li><a href="/maker_dashboard/{{maker.key}}">Manage My Store</a></li>
		  <li><a href="/maker/edit/{{maker.key}}">Account</a></li>
		  <li><a href="/logout/{{community.key}}">Logout</a></li>
		  {% else %}
		    {% if new %}
		    <li><a href="/logout">Logout</a></li>
			{% else %}
		    <li><a href="/community/{{community.key}}/login">Login</a></li>
		    {% endif %}
		  {% endif %}
		</ul>
		{% endblock %}
	  </div>
	</div>
	
    <div id="content">
	  {% block content %}
      {% endblock %}
    </div>

    <div id="alerts">
	  {% block alerts %}
      <p id="alert">{{ alerts }}</p>        
	  {% endblock %}
    </div>

	<div id="footer">
	  {% block footer %}
	  <p>Powered by ScriptGadget - <a href="/privacy">Privacy Policy</a> &nbsp; <a href="/terms">Terms and Conditions</a> &nbsp; <a href="">Copyright and D.M.C.A. Policy</a></p>
	  {% endblock %}
	</div>
    </body>
</html>
