{% extends "base.html" %}

{% block functions %}
  {{ block.super }}
  InstallFunction(server, 'AddProductToCart', false);

  function doAddProductToCart(product){
    server.AddProductToCart(product, updateCartWidget);    
  }

  function updateCartWidget(response){
    if(response["alert1"]){
       $("alert1").innerHTML = response["alert1"];
    }else{
       $("ShoppingCartCount").innerHTML = response["count"];
       $("checkout_button").style.display = 'inline';
    }
  }
{% endblock functions%}

{% block content %}
{% block catalog %}
	{% if products %}
       {% catalog products 4 maker %}
		<div id="transaction_table_controls">
       {% if show_previous %}
          <a id="prev_control" class="control" href="/category?category={{category}}&start={{previous}}">(go back)</a>
	   {% else %}
		  <a id="prev_control" class="control" href=""></a>
       {% endif %}
       {% if next %}
          <a id="next_control" class="control" href="/category?category={{category}}&start={{next}}">(more)</a>
       {% endif %}
		</div>
	{% else %}
	   <p>No products found. Please check back soon.</p>
	{% endif %}
{% endblock catalog %}
{% endblock content  %}
