{% extends "base.html" %}

{% block functions %}
  // a few globals for the form
  form = new Object()
  form.name = "";
  form.email = "";
  form.phone = "";
  form.shipping = "";
  form.pickup = "";

  orderInProgress = false;

  InstallFunction(server, 'OrderProductsInCart', false);
  InstallFunction(server, 'GetShoppingCart', true);
  InstallFunction(server, 'RemoveProductFromCart', false);
  InstallFunction(server, 'RemoveAllProductFromCart', false);
  InstallFunction(server, 'AddProductToCart', false);
  InstallFunction(server, 'SetDeliveryOption', false);

  function doRemoveProductFromCart(product){
    server.RemoveProductFromCart(product, doGetShoppingCart);
  }

  function doRemoveAllProductFromCart(product){
    server.RemoveAllProductFromCart(product, doGetShoppingCart);
  }

  function doAddProductToCart(product){
    server.AddProductToCart(product, doGetShoppingCart);
  }

  function doOrderProductsInCart(){
    if(validateForm()){
      if(orderInProgress){
        alert("Please do not click the button\nwhile an order is in progress.");
      }else{
        orderInProgress = true;
        server.OrderProductsInCart(form.name, form.email, form.phone, form.shipping, displayOrderResultOrRedirect);
      }
    }
  }

  function doSetDeliveryOption(option){
    server.SetDeliveryOption(option, doGetShoppingCart);
  }

  function doGetShoppingCart(){
    server.GetShoppingCart(updateCartTable);
  }

  function buildHiddenElement(name, value){
	  element = document.createElement("input");
	  element.setAttribute("name",name);
	  element.setAttribute("type", "hidden");
	  element.setAttribute("value", value);
	  return element;
  }

  function updateCartTable(response){
    products = response["products"];
	amount = response["amount"];
    $("pick-up_message").style.display="none";

    if(products.length > 0) {
        cart_content = "<table id='checkout_table'>";
        for(var i = 0; i < products.length; i++){
          thumbnailImage = "<img class='product_thumbnail' src='/images/" + products[i].image  + "' />";
		  removeButton = "<a class='icon_button decrement' href='#' onclick='doRemoveProductFromCart(\"" + products[i].key + "\")'>-</a>"
		  addButton = "<a class='icon_button increment' href='#' onclick='doAddProductToCart(\"" + products[i].key + "\")'>+</a>";
		  removeAllButton = "<a class='icon_button clear' href='#' onclick='doRemoveAllProductFromCart(\"" + products[i].key + "\")'>x</a>";
		  if(products[i].pickup_only){
		    cart_content += '<tr class="shaded"><td>';
			$("pick-up_message").style.display="block";
		  } else {
		    cart_content += '<tr><td>';
          }
          cart_content += thumbnailImage + "</td><td>"+ removeButton + "&nbsp;(" + products[i].count + ")&nbsp;" + addButton + "&nbsp;" + removeAllButton + "&nbsp;-&nbsp;" + products[i].name + "</td><td>$" + products[i].total  +" ($" + products[i].price;
	 	  if(products[i].shipping > 0.0) {
	        if(form.pickup == "local")
              {
	            cart_content += "ea + Handling $" + products[i].shipping + ")</td></tr>";
              } else {
	            cart_content += "ea + S&H $" + products[i].shipping + ")</td></tr>";
              }
          } else {
            cart_content += "ea)</td></tr>";
          }
        }
        cart_content += "</table>";
		cart_content += '<p id="cart_total">$' + amount + ' &lt;-- Grand Total (all prices include sales tax)</p>';
		$("ShoppingCartProductList").innerHTML = cart_content;
		$("ShippingInfo").style.display="block";
		$("PaymentOptions").style.display="block";
	    $("form_message").innerHTML="(all fields required)"
	}else{
	   $("ShoppingCartProductList").innerHTML = "";
	   $("ShippingInfo").style.display="none";
	   $("PaymentOptions").style.display="none";
       $("form_message").innerHTML="(shopping cart is empty)"
    }
  }

  function displayOrderResultOrRedirect(response){
    orderInProgress = false;
	if("redirect" in response) {
	   redirect_url = response["redirect"];	   
	   window.location.href = redirect_url;
	}else if("message" in response){	
	   message = response["message"];
	   $("ShoppingCartProductList").innerHTML = "<p>" + message + "</p>";
	}
  }
  
  function updateForm(){
    form.name = $("name_id").value;
    form.email = $("email_id").value;
    form.phone = $("phone_id").value;
    form.shipping = $("shipping_id").value;
    oldPickup = form.pickup;
    if($("will_pickup_id").checked){
      form.pickup = "local";
    }else{
      form.pickup = "ship";
    }
    if(oldPickup != form.pickup)
    {
       doSetDeliveryOption(form.pickup);
    }
	return form.name != "" && form.email != "" && form.phone != "" && form.shipping != "";
  }

  function validateForm(){
    valid = updateForm();
    if(!valid){
      $('form_message').innerHTML="(Please fill out the form so our makers know where to send your items.)";
    }
    return valid;
  }

  function tangram_init(){
    doGetShoppingCart();
  }
{% endblock %}

{% block cart_widget %} {% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
	<em id="pick-up_message">* Shaded rows are pick-up only items. Please provide a phone number to arrange pick-up.</em>
    <div id="ShoppingCartProductList"></div>
	<table id="ShippingInfo">
	<tr><th>Name:</th><td><input type="text" name="name" id="name_id" onchange="updateForm()"/></td></tr>
	<tr><th>Email:</th><td><input type="text" name="email" id="email_id" onchange="updateForm()"/></td></tr>
	<tr><th>Pickup/Ship:</th>
	  <td>
		<input type="radio" name="pickup" id="ship_it_id" value="ship" onchange="updateForm()" checked/><label>Please ship items</label></br>

		<input type="radio" name="pickup" id="will_pickup_id" value="local" onchange="updateForm()"/><label>I will pick-up items</label>
	  </td>
	</tr>
	<tr><th>Phone (for pick-up):</th><td><input type="text" name="phone" id="phone_id" onchange="updateForm()"/></td></tr>
	<tr><th>Shipping Address or<br/>Pick-up time and Notes to Maker:</th><td><textarea name="shipping" id="shipping_id" onchange="updateForm()"></textarea></td></tr>
	</table>
	<p id="form_message" class="explanatory_message"></p>
    <div id="PaymentOptions"><input onclick="doOrderProductsInCart()" style="margin-right: 7px;" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" class="pay_button" type="image" align="left"> <span class="explanatory_message">Paypal accepts all major credit cards. No Paypal account required.</span> </div> 

	
{% endblock  %}

{% block join  %} {% endblock %}
