{% extends "base.html" %}

{% block functions %}
  InstallFunction(server, 'OrderProductsInCart', false);
  InstallFunction(server, 'GetShoppingCart', true);
  InstallFunction(server, 'RemoveProductFromCart', false);
  InstallFunction(server, 'AddProductToCart', false);

  function doRemoveProductFromCart(product){
    server.RemoveProductFromCart(product, doGetShoppingCart);
  }

  function doAddProductToCart(product){
    server.AddProductToCart(product, doGetShoppingCart);
  }

  function doOrderProductsInCart(){
    server.OrderProductsInCart(displayOrderResultOrRedirect);
  }

  function doGetShoppingCart(){
    server.GetShoppingCart(updateCartTable);
  }

  function buildHiddenElement(name, value){
	  element = document.createElement("input");
	  element.setAttribute("name",name);
	  element.setAttribute("type", "hidden");
	  element.setAttribute("value", value);
	  return element;
  }

  function updateCartTable(response){
    products = response["products"];
	amount = response["amount"];
    content = "";
    if(products.length > 0) {
        content = "<table>";
        for(var i = 0; i < products.length; i++){
	      removeButton = "<input class='button' type='button' value='-' onclick='doRemoveProductFromCart(\"" + products[i].key + "\")' />";
	      addButton = "<input class='button' type='button' value='+' onclick='doAddProductToCart(\"" + products[i].key + "\")' />";
          content += "<tr><td>" + removeButton + products[i].count + addButton + "</td><td>" + products[i].name + "</td><td>$" + products[i].total  +" ($" + products[i].price + "ea)</td></tr>";
        }
        content += "</table>";
		content += '<p id="cart_total">$' + amount + ' &lt;-- Grand Total (all prices already include sales tax)</p>';
		$("ShoppingCartProductList").innerHTML = content;

		button = document.createElement("img");
		button.setAttribute("type", "image");
		button.setAttribute("src","https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif");
		button.setAttribute("align", "left");
		button.setAttribute("style", "margin-right:7px;");
		button.setAttribute("onclick", "doOrderProductsInCart(" +  amount + ")");

		$("PaymentOptions").innerHTML="";
		$("PaymentOptions").appendChild(button);
	}else{
		$("ShoppingCartProductList").innerHTML = "<p>(empty)</p>";
		$("PaymentOptions").innerHTML="";
    }
  }

  function displayOrderResultOrRedirect(response){
	if("redirect" in response) {
	   redirect_url = response["redirect"];	   
	   window.location.href = redirect_url;
	}else if("message" in response){	
	   message = response["message"];
	   $("ShoppingCartProductList").innerHTML = "<p>" + message + "</p>";
	}
  }
  
  function tangram_init(){
    doGetShoppingCart();
  }
{% endblock %}

{% block cart_widget %} {% endblock %}

{% block content %}
    <div id="ShoppingCartProductList">
	</div>
    <div id="PaymentOptions"></div> 

	
{% endblock  %}

{% block join  %} {% endblock %}
