{% extends "base.html" %}

{% block functions %}
  InstallFunction(server, 'AddProductToCart', false);

  function doAddProductToCart(product){
    server.AddProductToCart(product, updateCartWidget);    
  }

  function updateCartWidget(response){
    $("ShoppingCartCount").innerHTML = response["count"];
  }
{% endblock %}

{% block content %}
    <div id="ShoppingCartWidget">
        <p>Your Shopping Cart: (<span id="ShoppingCartCount">{% if cartItems %}{{cartItems}} items{% else %}empty{% endif %}</span>)</p>
    <div id="alert1"></div>
    </div>

    <dl>
	{% for product in products %}
       <dt>
		 <div id='product_image_panel'>
		   {% for product_image in product.product_images %}
		   <img src="/product_images/{{product_image.key}}" border="0" /></br>
           {% endfor%}
         </div>
         {% if maker %}(<a href="/product/edit/{{product.key}}">edit</a>){% endif %} {{product.name}}: {{product.description}}<br/></dt>
	   <dd>${{product.price|floatformat:2}} <input class="button" type="button" value="Add to Cart" onclick="doAddProductToCart('{{product.key}}')" /> </dd>
    {% endfor %}
    </dl>
{% endblock  %}
