{% extends "catalog.html" %}
{% block cart_widget %} {% endblock %}
{% block content %}

    <div class="dashboard_offer" class="offers">
	  {% if ad  %}
	  <a href="{{ad.url}}"><img src="{{ad.img}}" border="0" height="{{ad.height}}" width="{{ad.width}}" alt="{{ad.hover_text}}" title="{{ad.hover_text}}"/></a>
	  {% endif %}
	</div>
    <div class="offer_tag">advertisement</div>

    <div id="makerDashboardPanel">
	  <h1>{{maker.store_name}}: dashboard</h1>
	  <div id="maker_transaction_panel">
		<h2>Sales</h2>
		<table>
		  <tr><th>Product</tdh><th>Items</th><th>Price</th></tr>
		{% for sale in sales %}
		  <tr><td>{{sale.product}}</td><td>{{sale.items}}</td><td>${{sale.amount|floatformat:2}}</td></tr>
		{% endfor %}
        <tr><th>Totals</th><td>{{total_items}}</td><td>${{total_sales|floatformat:2}}</td></tr>
		</table>
	  </div>
	  <h2>Products</h2>
	  <p>(<a href="/product/add">Add Product</a>)</p>
	  {{ block.super }}
    </div>
{% endblock %}
