{% extends "catalog.html" %}

{% block bio_bar %}
    <span>
    <p><a href="/maker_store/{{store.slug}}"><img class="maker_logo" src="/images/{{store.logo}}"/></a></p>
	<p><a href="/maker_store/{{store.slug}}"><img class="maker_photo" src="/images/{{store.photo}}"/></a></p>
    <p class="byline">by {{store.full_name}}</p>
	<p>{{store.location}}</p>
	{% if store.website %}
	<p>on the web: <a href="{{store.website}}">{{store.website}}</a></p>
	{% endif %}
	<p>{{store.store_description}}</p>
    </span>
{% endblock  %}

{% block news %}
{% endblock news %}
