{% extends "catalog.html" %}
{% block cart_widget %} {% endblock %}
{% block content %}

    <div id="dashboard_offer" class="offers">Advertisement</div>

    <div id="makerDashboardPanel">
	  <p>{{maker.full_name}}'s <em>{{maker.store_name}}</em></p>
	  <p>{{maker.store_description}}</p>
	  <p>{{maker.location}}</p>
	  <p>Products: <a href="/product/add">Add Product</a></p>

	  <div id="maker_transaction_panel">
		<h2>Sales</h2>
		<table>
		  <tr><th>Product</tdh><th>Items</th><th>Price</th></tr>
		{% for sale in sales %}
		  <tr><td>{{sale.product}}</td><td>{{sale.items}}</td><td>${{sale.amount|floatformat:2}}</td></tr>
		{% endfor %}
        <tr><th>Totals</th><td>{{total_items}}</td><td>${{total_sales|floatformat:2}}</td></tr>
		</table>
	  </div>
	  {{ block.super }}
    </div>
{% endblock %}
