{% extends "base.html" %}

{% block content %}
    <div id="messagePanel">
	  {% if id %} 
        <p id="line1">Update your store information.</p>
	  {% else %}
        <p id="line1">Tell us about your new store.</p>
	  {% endif %}

    </div>

    <div id="registrationPanel">
      <form id="register" action="{{uri}}" method="POST">
		<table>
		  {{ form.as_table }}
		</table>
		<input type="hidden" name="_id" value="{{ id }}" />
        <div><input id="submit" class="button"  type="submit" {% if id %} value="Update Store" {% else %} value="Create Store" {% endif %} /></div>
      </form>
	</div>
{% endblock %}
