{% extends "base.html" %}

{% block functions %}

  function submitRegisterForm(){
	  $('register').submit();
  }

  function tangram_init(){
	  preview_content_photo = "{% if maker %}<img src='/images/{{maker.photo}}' border='0' />{% endif %}";
	  buildImageUploadForm($("upload_panel_photo"), "upload_iframe_photo", "pictureForm_photo", "register", "photo",
	  				   "picture_error_photo", "picture_preview_photo", preview_content_photo, {{max_width_photo}}, {{max_height_photo}});
	  preview_content_logo = "{% if maker %}<img src='/images/{{maker.logo}}' border='0' />{% endif %}";
	  buildImageUploadForm($("upload_panel_logo"), "upload_iframe_logo", "pictureForm_logo", "register", "logo",
	  				   "picture_error_logo", "picture_preview_logo", preview_content_logo, {{max_width_logo}}, {{max_height_logo}});
}

{% endblock functions%}

{% block content %}
    <div id="messagePanel">
	  {% if id %} 
        <p id="line1">Update your store information.</p>
	  {% else %}
        <p id="line1">Tell us about your new store.</p>
	  {% endif %}

    </div>

    <div id="registrationPanel">
	  {% if extraErrors %}
	  <p class="errorlist">There were errors:</p>
	    <ul class="errorlist">
		  {% for error in extraErrors %}
		  <li>{{error}}</li>
		  {% endfor %}
		</ul>
	  {% endif %}
      <form id="register" enctype="multipart/form-data" action="{{uri}}" method="POST">
		<table>
		  {{ form.as_table }}
		  {{ tag_field }}
		</table>
		
		{% if messages %}
		<ul class="errorlist">
		  {% for message in messages %}
		  <li>{{message}}</li>
		  {% endfor %}
		</ul>
		{% endif %}

		{% if not maker.accepted_terms %}
		<h2>Terms and Conditions</h2>
		
		<p class="terms"><input id="term1" class="checkbox" name="term1" type="checkbox" value="term1">I accept the <a href="/terms" target="_new">Terms and Conditions.</a> (opens in a new window)</p>
		{% endif %}
		
		<input type="hidden" name="_id" value="{{ id }}" />
      </form>

	  <div id="image_upload_panel">
		<div class="image_upload_panel" id="upload_panel_photo">
		</div>
		<div class="image_upload_panel" id="upload_panel_logo">
		</div>
	  </div>

	  <div>
		<input id="submit" class="button"  type="button" value="Save Changes" onclick="return submitRegisterForm()"/>
	  </div>

	</div>
{% endblock %}
