{% extends "catalog.html" %}
{% block functions %}
  // current first transaction shown
  var scursor = "";
  var ecursor = "";

  InstallFunction(server, 'GetMakerActivityTable', true);
  InstallFunction(server, 'SetMakerTransactionShipped', false);

  function doGetMakerActivityTable(cursor, direction){
    server.GetMakerActivityTable("{{maker.key}}", cursor, direction, updateMakerActivityTable);
  }

  function doSetMakerTransactionShipped(transaction){
    server.SetMakerTransactionShipped("{{maker.key}}", transaction, updateChangedRow);
  }

  function doGetOlderTransactions(){
    doGetMakerActivityTable(ecursor, "older");
  }

  function doGetNewerTransactions(){
    doGetMakerActivityTable(scursor, "newer");
  }

  function buildSaleRow(sale, cellsOnly){
      if(sale.transaction_status == null)
        sale.transaction_status = "Unknown";

      row = '';

      if(!cellsOnly)
        row += "<tr id='"+sale.transaction+"'>";

	  row += "<td><span id="+sale.transaction+"_control onclick=hideOrShow('"+sale.transaction+"_detail','"+sale.transaction+"_control') class=control>[show]</span> "+sale.date
	  row += " <ul id="+sale.transaction+"_detail style=display:none>"
	  row += "<li>Items:<br/>"
		for(var i = 0; i < sale.products.length; i++)
		  row += sale.products[i].product_name +" ("+ sale.products[i].items + " ea) <br\>"
	  row += " </li> "
	  row += "<li>Name: "+sale.shopper_name+"</li> "
	  row += "<li>Email: "+sale.shopper_email+"</li> "
	  row += "<li>Shipping: <br/>"+sale.shopper_shipping+"</li> "
      row += "</ul></td><td>"+sale.items+"</td><td>"+sale.amount+"</td><td>"+sale.fee+"</td><td>"+sale.net+"</td><td>"+sale.transaction_status+"</td>";
	  row += "<td><input type='checkbox' onclick='doSetMakerTransactionShipped(\"" + sale.transaction + "\", \"" + start + "\", \""  + end + "\")'";
	  if(sale.shipped){
	    row += " checked/></td>";
      }else{
	    row += " /></td>";
      }

      if(!cellsOnly)
	    row += " </tr> ";

      return row;
  }

  function updateChangedRow(response){
    sale = response["sale"];
    if(sale != null){
      $(sale.transaction).innerHTML = buildSaleRow(sale, true);
    }
  }

  function updateMakerActivityTable(response){
    sales = response["sales"];
    start = response["start"];
    end = response["end"];
    header = "<tr><th>Date</th><th>Items</th><th>Price</th><th>Fees</th><th>Net</th><th>Payment</th><th>Shipped?</th></tr>";
    rows = " ";

    if(sales.length > 0){
      scursor = sales[0].when
      for(var i = 0; i < sales.length; i++){
	    rows += buildSaleRow(sales[i], false);
      }
	  ecursor = sales[i-1].when
	}else{
	  rows += "<td>No sales for that date range.</td>"
	}

    totals ="<tr class='totals'><th>Volume</th><td>" + response["total_items"] + "</td><td>$" + response["total_sales"] + "</td></tr>";
    $("transaction_table").innerHTML=header + rows + totals;
  }

  function tangram_init(){
    doGetMakerActivityTable("", "newer");
  }

{% endblock functions %}


{% block cart_widget %} {% endblock %}
{% block banner %} 
    <div class="dashboard_offer" class="offers">
	  {% if ad  %}
	  <a href="{{ad.url}}"><img src="{{ad.img}}" border="0" height="{{ad.height}}" width="{{ad.width}}" alt="{{ad.hover_text}}" title="{{ad.hover_text}}"/></a>
	  {% endif %}
	</div>
    <div class="offer_tag">advertisement</div>
{% endblock banner %}

{% block content %}

    <h1>{{maker.store_name}}: dashboard</h1>

	{% ifequal maker.approval_status "Approved" %}
    <div id="makerDashboardPanel">

		<h2>Activity&nbsp;<a id="transaction_panel_control" class="control" onclick="hideOrShow('maker_transaction_panel', 'transaction_panel_control')">[show]</a></h2>
	  <div id="maker_transaction_panel">

		<div id="transaction_table_controls"><a id="prev_control" class="control" onclick="doGetOlderTransactions()">&lt;-- older</a> <a id="next_control" class="control" onclick="doGetMakerActivityTable('', 'newer')">latest</a></div>

		<table id="transaction_table">
		</table>

		<div id="transaction_table_controls"><a id="prev_control" class="control" onclick="doGetOlderTransactions()">&lt;-- older</a> <a id="next_control" class="control" onclick="doGetMakerActivityTable('', 'newer')">latest</a></div>

	  </div>

	  <h2>Products&nbsp;<a id="product_control" class="control" onclick="hideOrShow('maker_product_panel', 'product_control')">[hide]</a></h2>
	  <div id="maker_product_panel">
	  <p>(<a href="/product/add">Add Product</a>)</p>
	  {{ block.super }}
	  </div>
	  {% else %}
	  <div id="new_maker_panel">
		<p>Your application has been submitted.</p> 
		<p>Once your account has been activated, this is where you will be able to add and manage your product listings and track your sales.</p>
		<p>We may call or email you if we have any questions about your new store. If you have any questions please don't hesitate to call or email Jerri.</p>	
		<p><strong>email</strong>: <a href="mailto:nevadacountymakes.com">{{community.support_email}}</a></p>
		<p><strong>phone</strong>: ({{community.support_phone|slice:":3"}}) {{community.support_phone|slice:"3:6"}}-{{community.support_phone|slice:"6:"}}</p>
	  </div>
	  {% endifequal %}
    </div>
{% endblock %}
