{% extends "base.html" %}

{% block content %}
    <div id="messagePanel">
	  {% if id %} 
        <p id="line1">Update your store information.</p>
	  {% else %}
        <p id="line1">Tell us about your new store.</p>
	  {% endif %}

    </div>

    <div id="registrationPanel">
	  {% if extraErrors %}
	  <p class="errorlist">There were errors:</p>
	    <ul class="errorlist">
		  {% for error in extraErrors %}
		  <li>{{error}}</li>
		  {% endfor %}
		</ul>
	  {% endif %}
      <form id="register" enctype="multipart/form-data" action="{{uri}}" method="POST">
		<table>
		  {{ form.as_table }}
		</table>
		
		<div id="image_upload_panel">
		  {% if maker.photo %}
		  <img class="maker_photo" src="/images/{{maker.photo}}"/></br>
		  {% endif %}
		  {{ photo_upload_form }}
		  {% if maker.logo %}
		  <img class="maker_logo" src="/images/{{maker.logo}}"/></br>
		  {% endif %}
		  {{ logo_upload_form }}
		</div>
		{% if messages %}
		<ul class="errorList">
		  {% for message in messages %}
		  <li>{{message}}</li>
		  {% endfor %}
		</ul>
		{% endif %}

		{% if not maker.accepted_terms %}
		<h2>Terms and Conditions</h2>
		
		<p class="terms"><input id="term1" class="checkbox" name="term1" type="checkbox" value="term1">I accept the <a href="/terms" target="_new">Terms and Conditions.</a> (opens in a new window)</p>
		{% endif %}
		
		<input type="hidden" name="_id" value="{{ id }}" />
        <div id="account_button"><input id="submit" class="button"  type="submit" {% if id %} value="Update Store" {% else %} value="Create Store" {% endif %} /></div>
      </form>
	</div>
{% endblock %}
