{% extends "base.html" %}
{% block functions %}
  function hide_show_inventory()
  {
	  inventory = $("id_inventory")
	  style = inventory.parentNode.parentNode.style;
	  if ($("id_unique").checked){
		  style.display = 'none';
		  inventory.value = 1
	  } else {
		  style.display = '';
	  }
  }

  function submitProductForm(){
	  $('product_form').submit();
  }

  function tangram_init(){
	  hide_show_inventory();
	  $("id_unique").onclick = hide_show_inventory;
	  preview_content = "{% if product %}<img src='/images/{{product.image}}' border='0' />{% endif %}";
	  panel = $("upload_panel");
	  buildImageUploadForm(panel, "upload_iframe", "pictureForm", "product_form", "image_key",
	  				   "picture_error", "picture_preview", preview_content, {{max_width}}, {{max_height}});
  }

{% endblock functions%}

{% block content %}
    <div id="product_panel">
         <form id="product_form" enctype="multipart/form-data" action="{{ uri }}" method="POST">
		   <table>
		   {{ form.as_table }}
		   {{ tag_field }}
		   </table>
		   <input type="hidden" name="_id" value="{{ id }}">
		   {% if messages %}
		   <ul class="errorlist">
		   {% for message in messages %}
		   <li>{{message}}</li>
		   {% endfor %}
		   </ul>
		   {% endif %}
         </form>

		 <div class="image_upload_panel" id="upload_panel">
		 </div>

		 <div>
		   <input id="submit" class="button"  type="button" value="Save Changes" onclick="return submitProductForm()"/>
		 </div>

	</div>
{% endblock %}
