{% extends "maker_space.html"  %}

{% block description %}{{product.short_description}}{% endblock description %}
{% block keywords %}{{product.tag_string}}{% endblock keywords %}
{% block content %}
{% block catalog %}{% endblock catalog %}
   <div>
	 <img class="product_image" src="/images/{{product.image}}" alt="{{product.name}}" title="{{product.name}}"/></br>
   </div>
   <div>
		 {% if product.inventory %}
		   <p>
		   {% if product.unique %}
		   <span class="unique">Unique</span>
		   {% else %}
		   {{product.inventory}} remaining
		   {% endif %}
		   {% if product.pickup_only %}
		   <span class="pickup">(Pick-up Only)</span>
		   {% endif %}
		   </p>
		   <p class="price">${{product.price|floatformat:2}} <input class="add_button" type="button" value="Add to Cart" onclick="doAddProductToCart('{{product.key}}')" /> </p>
		 {% else %}
		 <span class="product_sold_panel">
		   <p>Sold!</p>
		 </span>
		 {% endif %}
   </div>
   <div>
     <p>{% if maker %} {% ifequal product.maker.key maker.key %}(<a href="/product/edit/{{product.maker.slug}}/{{product.slug}}">edit</a>){% endifequal %}{% endif %} <a href="/product/{{product.maker.slug}}/{{product.slug}}">{{product.name}}</a></p>
	 <p class="store_name">by <a href="/maker_store/{{product.maker.slug}}">{{product.maker.store_name}}</a></p>
	 <p class="product_info"> {{product.short_description}}</p>
	 <p class="product_info"> {{product.description}}</p>
   </div>
{% endblock content %}

