	<table class="catalog">
    <tr>
	{% for product in products %}
	   {% if not forloop.first %} 
	   {% if forloop.counter0|divisibleby:"4" %}
	   </tr><tr>
	   {% endif %}
	   {% endif %}
       <td>
		 <span class="product_image_panel">
		   <a href="/product/{{product.maker.slug}}/{{product.slug}}"><img class="product_image" src="/images/{{product.image}}" alt="{{product.name}}" title="{{product.name}}"/></a>
         </span>

		 <div class="product_info_panel">
		   <span class="product_name">{% if maker %} {% ifequal product.maker.key maker.key %}(<a href="/product/edit/{{product.maker.slug}}/{{product.slug}}">edit</a>){% endifequal %}{% endif %} <span><a href="/product/{{product.maker.slug}}/{{product.slug}}">{{product.name}}</a></span></span>
		   <p class="store_name">by <span><a href="/maker_store/{{product.maker.slug}}">{{product.maker.store_name}}</a></span></p>
		   <p class="product_short_description">{{product.short_description}}</p>
		 </div>
		 <div class="product_price_panel">
		   {% if product.inventory %}
		   {% if product.unique %}
		   <p class="unique" >Unique</p>
		   {% else %}
		   <p>{{product.inventory}} remaining</p>
		   {% endif %}
		   {% if product.pickup_only %}
		   <p class="pickup">Pick-up Only</p>
		   {% endif %}
		   <p class="price">
			 {% if product.discount_price %}
			   <span class="discounted">${{product.price|floatformat:2}}</span>
			   ${{product.discount_price|floatformat:2}}<br/>
			 {% else %}
			   ${{product.price|floatformat:2}}<br/>
			 {% endif %}
			 <input class="ncm_button add_button" type="button" value="Take me Home" onclick="doAddProductToCart('{{product.key}}')" /> 
		   </p>
		 {% else %}
		   <p class="product_sold_panel">Sold!</p>
		   {% endif %}
		 </div>
	   </td>
    {% endfor %}
	</tr>
    </table>
