body { background-color: white; }

.text { color: black; }

#banner { 
	background-image: url('/static/images/Banner-fade-750-108.jpg');
	background-repeat:no-repeat;
    padding: 0 0 0 5px;
	margin-left: 5px;
    height: 108px;
    width: 100%;
	color: black;
}

#content { 
	display: block; 
	margin-left: auto;
	margin-right: auto;
	padding: 3px 10px;
	width: 750;
}

.catalog h3 {
	font-size: small;
	font-weight: normal;
	color: black;
}

.price {
	color: green;
	font-size: small;
}

.catalog p {
	font-size: small;
	height: 1em;
}

.catalog td {
	width:10em;
	vertical-align:text-top;
	padding: 10px;
}

.product_info p {
	display: block;
	font-size: small; 
	padding: 5px;
	margin: 1px;
	overflow: visible;
}

#ShoppingCartWidget { 
	font-size: small;
	color: blue;
}

#sidebar {
	width: 190px;
	padding-left: 10px;
	margin-top: 10px;
	position: absolute; 
	left: 5px; 
	top:108px;
}

#sidebar h2 {
	font-size: small;
}

#sidebar h3 {
	font-size: small;
	font-weight: normal;
	color: blue;
}

#sidebar a {
	text-decoration: none;
}

#menubar { display: block; height: 2em; padding: 1px; }
#menu { position:relative; float:right; right:50%; font-size: large; margin-top: -1em;}
#menu li {text-align: left; position: relative; float: left; left: 50%; list-style: none; padding: 3px 5px 3px 5px; margin: 3px 0.5em; border: 0px none #FFF;}
#menu .current li { background-color: gray; color: black; }
#menu a { text-decoration: none; color: black;}
#menu a:hover { text-decoration: none; background-color: black; color: white;}
#menu .current a { text-decoration: none; background-color: gray; color: black;}

#alert1 {
	color: red;
	padding: 10px;
	font-size: small;
	height: 1em;
}

#footer {
	width: 750px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
    text-align: left; 
	font-size: small;
	padding: 3px 10px; 
}

.errorlist { 
	font-size: small;
	color:red; 
}

.byline { 
	font-size: medium; 
	font-style: italic;
}

.dashboard_offer {
	height: 160px;
	width: 750px;
	padding: 5px;
	margin: auto;
}

.offer_tag{
	text-align: center;
	vertical-align: bottom;
	font-size: small;
	color: gray;
}

#transaction_table{
	width:100%;
	border-style: inset;
	border-width: 1px;
}

#transaction_table th{
	text-align: left;
}

#transaction_table td{
	border-style: dotted;
	border-width: 1px;
}

#transaction_table_controls{
	display:block;
	width:100%;
	text-align:center;
	margin:auto;
}

#transaction_table_controls a{
	text-decoration:none;
}

#prev_control{
	width:60%;
	text-align:left;
	margin-right:15em;	
}

#next_control{
	width:60%;
	text-align:right;
	margin-left:15em;
}

.totals tr{
	border-style: none;
}

#admin_menu{
	font-size:small;
}
#admin_menu ul {
	margin:0;
	padding:0;
}

#admin_menu li {
	list-style: none;
	margin-left: 0px;
}
.product_image {
	width:240px;
	border-width: 1px;
	border-color: gray;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.catalog img{
	width:75%;
}

#join_link{
	font-size:small;
}

#maker_transaction_panel{
	display:none;
}

#maker_product_panel{
	display:none;
}

#maker_product_panel img{ width:25%; }

.control { 
	font-size: small;
	color: blue; 
}