body { 
	background-color:white; 
}

.text { color:black; }

#bio_bar {
	width: 250px;
	padding-left: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

#banner { 
	background-color: white;
	background-repeat:no-repeat;
    padding: 0 0 0 0px;
	margin-left: 5px;
    height: 108px;
    width: 100%;
	color: black;
}

#content { 
	position: absolute;
	left: 260px;
	top: 160px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding: 3px 10px;
	width: 750px;
}


#content textarea {
	width: 300px;
	height: 8em;
}

#content input {
	width: 300px;
}

#content .choice {
	width: 10%;
}

#content .add_button {
	width:100%;
}

.catalog {
	table-layout:fixed; 
}
.catalog h3 {
	font-size: small;
	font-weight: normal;
	color: black;
}

.price {
	color: green;
	font-size: small;
}

.catalog p {
	font-size: small;
	height: 1em;
}

.catalog td {
	width: 160px;
	text-align:center;
	padding: 10px;
	padding-bottom: 20px;
	border-style: dotted;
	border-color: gray;
	border-width: 1px;
	background-color: white;
}

.product_image_panel {
	height: 120px;
	text-align: center;
	font-size: small;
	padding: 3px;
}

.product_info_panel {
	height: 100px;
	width: 100%;
	text-align: left;
}

.product_price_panel {
	height: 60px;
	text-align: center;
	margin: auto;
	font-size: small;
}

.product_name {
	height:15px;
	text-align: center;
	padding-bottom: 0.5em;
	overflow: hidden;
}

.product_short_description {
	height: 60px;
	width: 100%;
	padding-bottom: 0.5em;
	overflow: hidden;
}

#ShoppingCartWidget { 
	font-size: small;
	color: blue;
}

#sidebar {
	display:block;
	width: 250px;
	padding-left: 10px;
	margin-top: 10px;
	position: absolute; 
	left: 5px; 
	top:108px;
	overflow:hidden;
}

#sidebar h2 {
	font-size: small;
}

#sidebar h3 {
	font-size: small;
	font-weight: normal;
	color: blue;
}

#sidebar a {
	text-decoration: none;
}

#menubar { display: block; height: 2em; padding: 1px;}
#menu { position:relative; float:right; right:50%; font-size: large; }
#menu li {text-align: left; position: relative; float: left; left: 50%; list-style: none; padding: 3px 5px 3px 5px; margin: 3px 0.5em; border: 0px none #FFF;}
#menu .current li { background-color: gray; color: black; }
#menu a { text-decoration: none; color: black;}
#menu a:hover { text-decoration: none; background-color: black; color: white;}
#menu .current a { text-decoration: none; background-color: gray; color: black;}


#alert1 {
	color: red;
	padding: 10px;
	font-size: small;
	height: 1em;
}

#footer {
   height: 330px;
   width: 750px;
   margin-top: 2em;
   margin-left: auto;
   margin-right: auto;
   text-align: center; 
   font-size: normal;
   padding: 3px 10px; 
}

#footer a {
	padding-right: 30px;
}

.errorlist { 
	font-size: small;
	color:red; 
}

.byline { 
	font-size: medium; 
	font-style: italic;
}

.dashboard_offer {
	height: 160px;
	width: 750px;
	padding: 5px;
	margin: auto;
}

.offer_tag{
	text-align: center;
	vertical-align: bottom;
	font-size: small;
	color: gray;
}

#transaction_table{
	width:100%;
	border-style: inset;
	border-width: 1px;
}

#transaction_table th{
	text-align: left;
}

#transaction_table td{
	border-style: dotted;
	border-width: 1px;
}

#transaction_table_controls{
	display:block;
	width:100%;
	text-align:center;
	margin:auto;
}

#transaction_table_controls a{
	text-decoration:none;
}

#prev_control{
	width:60%;
	text-align:left;
	margin-right:15em;	
}

#next_control{
	width:60%;
	text-align:right;
	margin-left:15em;
}

.totals tr{
	border-style: none;
}

#admin_menu{
	font-size:small;
}
#admin_menu ul {
	margin:0;
	padding:0;
}

#admin_menu li {
	list-style: none;
	margin-left: 0px;
}
.product_image {
	width:240px;
	border-width: 1px;
	border-color: gray;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.catalog img{
	width:120px;
}

.maker_photo {
	border-width: 1px;
	border-color: gray;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.maker_logo {
	width:190px;
	height:60px;
	border-width:0px;
}

.community_logo {
	height:108px;
	border-width:0px;
}

.coordinator_photo {
	border-width: 1px;
	border-color: gray;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#join_link{
	font-size:small;
}

#maker_transaction_panel{
	display:none;
}

#maker_product_panel{
	display:block;
}

#maker_product_panel img{ 
	width:120px; 
}

.control { 
	font-size: small;
	color: blue; 
}

.maker_detail {
	display:none;
}

#approval_buttons {
	border-style: dotted;
	border-width: 1px;
	font-size: small;
	width: 150px;
	text-align: left;
}

div.editable:hover {
	background-color:FFFF66;
}

textarea.editable {
	width:100%;
	height:150px;
}

#message {
	text-align:center;
}

#account_button{
	margin-top: 2em;
	text-align: center;
}

#seach_form{
	display:block;
	margin-left:auto;
	text-align:right;
	width:50em;
}